$blue: #70cbfe;
$blue-light: lighten(#70cbfe, 10%);
$blue-dark: darken(#70cbfe, 10%);
$yellow: #fbba0a;
$yellow-light: lighten(#fbba0a, 10%);
$yellow-dark: darken(#fbba0a, 10%);

$green: #15afbe;
$red: #ff5152;
$omtale-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.09);


.row-reverse {
  flex-direction: row-reverse;
}

.sentrer-tekst {
  position: relative;
  > div.vc_column-inner {
    -webkit-box-pack: center !important;
    -webkit-justify-content: space-around !important;
    -ms-flex-pack: space-around !important;
    justify-content: space-around !important;
  }
}

.eltdf-sticky-header {
  -webkit-transition: all .6s ease !important;
  transition: all .6s ease !important;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1234124;
    opacity: 1;
    pointer-events: none;
  -webkit-transition: all .6s ease !important;
  transition: all .6s ease !important;
  }
  &.header-appear {
    &:after {
      opacity: 0;
    }
  }
}

.eltdf-main-menu>ul>li.has_sub>a .eltdf-menu-arrow {
    display: inline-block;
    margin-left: 5px;
    font-weight: 900;
}
.eltdf-drop-down .narrow .second .inner ul li {
  width: auto !important;
  .item_outer .item_text {
    white-space: nowrap;
  }
}
@media (min-width: 1025px) {
.eltdf-drop-down #sticky-nav-menu-item-4399 .second, .eltdf-drop-down #nav-menu-item-4399 .second {
  position: fixed;
  width: 100vw;
  left: 0px;
  top: 93px;
  .inner {
    ul {
      display: block;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25% !important;
        display: block;
      }
    }
  }
}
.eltdf-drop-down #sticky-nav-menu-item-4399 .second {
  top: 70px;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home .eltdf-processes-holder.eltdf-ph-resp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .eltdf-process {
      width: 50%;
    }
  }
}

body.page-id-890 {
  .stromavtaler_2_menu {
    z-index: 12345;
    background: $yellow;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    @media (max-width: 767px) {
      display: none;
    }
    .widget_nav_menu {
      .menu-stromavtaler-container {
        ul.menu {
          text-align: center;
          list-style: none;
          margin: 0;
          li {
            display: inline-block;
            a {
              color: #fff;
              font-family: Catamaran, sans-serif;
              font-size: 13px;
              font-weight: 700;
              letter-spacing: .2px;
              padding: 4px 20px;
              position: relative;
              display: inline-block;
              &:after {
                 content: '|';
                font-weight: 100;
                font-size: 25px;
                position: absolute;
                left: 100%;
                top: 6px;
                opacity: .55;
              }
            }
            &:last-of-type a:after {
              content: '';
              display: none;
            }
          }
        }
      }
    }
    &#stromavtaler_2_menu {
      position: absolute;
      top: 0;
    }
    &#stromavtaler_2_menu_sticky {
      position: fixed;
      top: 0;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
      @media (max-width: 1024px) {
        display: none;
      }
      &.scrolled {
        -webkit-transform: translateY(70px);
        -moz-transform: translateY(70px);
        transform: translateY(70px);
      }
    }
  }
  &.admin-bar #stromavtaler_2_menu_sticky.scrolled {
    -webkit-transform: translateY(102px);
    -moz-transform: translateY(102px);
    transform: translateY(102px);
  }
}

#privatstromholder {
  .eltdf-image-with-text-holder {
    .eltdf-iwt-image img {
      max-width: 845px;
      width: 100%;
      margin: 0 auto;
      opacity: .2;
    }
  }
}
#frm_form_3_container {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -62px;
  &.frm_forms.with_frm_style.frm_style_formidable-style {
    .frm_error_style {
      position: fixed;
    z-index: 1231;
    left: 0;
    margin: 0;
    border-radius: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    }
  }
}

#stromspar-header {
  height: 100vh;
  @media (max-width: 414px) {
    height: 23vh;
  }
  .banner-steps-holder {
    padding-bottom: 50px;
    padding-left: 8%;
    text-shadow: 0px 0px 8px rgba(0,0,0,.5);
    @media (max-width: 1270px) {
      padding-left: 50px;
    }
    @media (max-width: 1200px) {
      padding-left: 40px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    .banner-steps {
      .eltdf-icon-with-text {
        @media (max-width: 1150px) {
          display: block;
          margin-bottom: 25px;
        }
        .eltdf-iwt-content {
          padding: 7px 50px 0px 7px !important;
          @media (max-width: 1200px) {
            padding-right: 25px;
          }
        }
      }
    }
  }
}



#frontpage_form_container {
  position: absolute;
  z-index: 123412341234;
  width: 50%;
  right: 10%;
  top: 130px;
  max-width: 450px;
  margin: 0;
  @media (max-width: 767px) {
    width: calc(100% - 30px);
    right: auto;
    left: 15px;
    top: -10vh;
    position: relative;
  }
  #frontpage_form_holder {
    box-shadow: 0px 4px 14px rgba(0,0,0,.2);
    background: linear-gradient(-45deg, rgba(255,255,255,.7) 0%, rgba(255,255,255,1) 100%);
    border-radius: 3px;
    width: 100%;
    padding-top: 15px;
    border-top: 5px solid $yellow;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    .vc_column-inner {
      padding-top: 0;
    }
    .eltdf-section-title-holder {
        h4.eltdf-section-subtitle {
              margin: 0 0 4px 0;
            font-size: 15px;
            color: #888;
            font-weight: 500;
        }
      
    }
    h3 {
      
    }
    p.eltdf-st-text {
      line-height: 1.5;
      font-size: 13px;
      color: #777;
      margin-top: 8px;
      margin-bottom: 15px;
      font-weight: 500;
      letter-spacing: .25px;
    }
    .button-group {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      overflow: hidden;
      box-shadow: 0px 3px 8px -3px rgba(0,0,0,.2);
      margin-bottom: 12px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      div {
        display: block;
        float: left;
        width: 50%;
        border: 0;
        outline: 0;
        box-shadow: none;
        border-bottom: 2px solid transparent;
        background: #fff;
        color: #666;
        cursor: pointer;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px;
        font-weight: 500;
        font-family: "raleway";
        font-size: 14px;
        border-bottom: 0;
        border: 0;
        border-top: 3px solid #e9e9e9;
        opacity: 0.7;
        position: relative;
        &#privat-start-btn {
          border-right: 1px solid #e6e6e6;
          &.active {
            border-right: 0;
          }
        }
        &#bedrift-start-btn {
          border-left: 1px solid #e6e6e6;
          &.active {
            border-left: 0;
          }
        }
        &.active {
          border-image: linear-gradient(to right, $yellow 0%, $yellow-light 100%) 1 0 0 0 !important;
          border-width: 3px 0 0 0 !important;
          border-style: solid !important;
          background: #fff;
          opacity: 1;
          &:after {
            content: '\2713';
            content: '\f00c';
            font-family: 'FontAwesome';
            color: $yellow;
            position: absolute;
            margin-left: 7px;
          }
        }
      }
    }
  }
}

.frm_forms.frm_style_formidable-style.with_frm_style {
  form {
    fieldset {
      padding-bottom: 0;
    }
    .frm_rootline {
      input {
        width: 25px !important;
        height: 25px !important;
        min-height: auto;
        border-radius: 50%;
        padding: 0;
        font-size: 13px !important;
        line-height: 25px;
        vertical-align: middle;
      }
      input[type="button"] {
        &:hover {
          background: #f9f9f9;
          color: #999;
        }
        &:focus {
          border-color: #ccc !important;
        }
      }
      .frm_current_page {
        input[type="button"] {
          border-color: $yellow-dark;
          background-color: $yellow;
          &:hover {
            background-color: $yellow;
            color: #fff;
          }
          &:focus {
            border-color: $yellow-dark !important;
          }
        }
        .frm_rootline_title {
          color: $yellow-dark;
        }
      }
    }
    
    .form-group {
      .frm_submit {
        margin: 0;
        display: flex;
        @media (max-width: 414px) {
              flex-direction: column-reverse;
              flex-wrap: wrap;
        }
        button {
          outline: 0;
          margin: 0;
          border-radius: 3px;
          width: 100%;
          padding: 16px;
          font-family: "raleway";
          font-weight: 800;
          letter-spacing: 1px;
          box-shadow: 0px 3px 10px -3px rgba(0,0,0,.3);
          background: linear-gradient(to top, $yellow 0%, $yellow-light 100%);
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
          &:hover {
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            box-shadow: 0px 3px 11px -2px rgba(0, 0, 0, 0.4);
          }
          &.frm_prev_page {
            max-width: 150px;
            background: #fff;
            color: #999;
            border: 1px solid #ddd;
            margin-right: 20px;
            font-weight: 600;
            @media(max-width: 414px) {
              margin-top: 25px;
              padding: 10px;
              max-width: none;
              box-shadow: 0px 2px 6px -3px rgba(0,0,0,.15);
            }
          }
        }
      }
      .form-field {
        margin-bottom: 10px;
        padding: 5px 15px;
        margin-left: -15px;
        margin-right: -15px;
        &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8), &:nth-of-type(10), &:nth-of-type(12) {
          // background: rgba(0,0,0,.02);
        }
        &#frm_field_78_container, &#frm_field_114_container {
          margin-bottom: 0;
        }
        &.gray {
          background: #f9f9f9;
            letter-spacing: .25px;
        }
        label {
          font-family: Catamaran,sans-serif;
          &.frm_primary_label {
            font-family: Raleway, sans-serif;
            font-weight: 700;
            letter-spacing: .5px;
            color: #555;
            font-size: 13px;
          }
          .frm_required {
            font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
          }
        }
        .frm_range_container {
          position: relative;
          text-align: center;
          input[type="range"] {
              -webkit-appearance: none !important;
              position: relative !important;
              overflow: visible !important;
              height: 6px !important;
              cursor: pointer !important;
              border-radius: 10px !important;
              border: 0px solid #ddd !important;
              margin: 0 !important;
              width: 100%;
              box-shadow: none;
              outline: 0;
              padding: 0;
              background-color: transparent!important;
              
              background-size: 50% 100%;
              background-repeat: no-repeat;
            
            
          }
          .lower-fill {
            height: 7px;
            position: absolute;
            left: 0;
            right: 0;
            background: #fff;
            border-radius: 3px;
            overflow: visible;
            box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.4);
            > span {
              z-index: 1;
              background: linear-gradient(to right, $yellow 0%, $yellow-light 100%);
              height: 7px;
              width: 50%;
              display: block;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
          }
          ::-webkit-slider-runnable-track {
              background: transparent !important;
              height: 100% !important;
              border: none !important;
              border-radius: 50px !important;
              box-shadow: none;
              -webkit-appearance: none;
          }
          ::-moz-range-track {
              background: transparent !important;
              height: 100% !important;
              border: none !important;
              border-radius: 50px !important;
              box-shadow: none;
          }
          input[type=range]::-moz-focus-outer {
            border: 0;
          }
          ::-webkit-slider-thumb {
              -webkit-appearance: none !important;
              width: 14px !important;
              height: 14px !important;
              background: #fff !important;
              box-shadow: 0px 2px 6px -1px rgba(0,0,0,.35) !important;
              border: 0px solid #ccc !important;
              border-radius: 50% !important;
              padding: 0 !important;
              margin: 0 !important;
              width: 16px;
              height: 16px;
              margin-top: -4px !important;
              box-shadow: 0 1px 2px 0px #000;
              -webkit-appearance: none;
              z-index: 1123;
          }
          input[type="range"]:hover::-webkit-slider-thumb {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
          
          ::-moz-range-thumb {
              -webkit-appearance: none !important;
              width: 14px !important;
              height: 14px !important;
              background: #fff !important;
              box-shadow: 0px 0px 6px 0px rgba(0,0,0,.15) !important;
              border: 1px solid #ccc !important;
              border-radius: 50% !important;
              padding: 0 !important;
              margin: 0 !important;
              width: 16px;
              height: 16px;
              margin-top: -4px !important;
              box-shadow: 0 1px 2px 0px #000;
          }
          ::-ms-thumb { 
              -webkit-appearance: none !important;
              width: 14px !important;
              height: 14px !important;
              background: #fff !important;
              box-shadow: 0px 0px 6px 0px rgba(0,0,0,.15) !important;
              border: 1px solid #ccc !important;
              border-radius: 50% !important;
              padding: 0 !important;
              margin: 0 !important;
              width: 16px;
              height: 16px;
              margin-top: -4px !important;
              box-shadow: 0 1px 2px 0px #000;
          }
          
          ::-ms-fill-lower { 
              background: $yellow !important;
          }
          
          ::-ms-ticks-after { 
              display: none !important; 
          }
          ::-ms-ticks-before { 
              display: none !important; 
          }
          ::-ms-track { 
              background: #ddd !important;
              color: transparent !important;
              height: 16px !important;
              border: none !important;
          }
          ::-ms-tooltip { 
              display: none !important;
          }
          span {

          }
          
        }
        .frm_radio.radio {
          input[type=radio]{
            position: absolute;
            visibility: hidden;
          }

          label{
            display: block;
            position: relative;
            z-index: 9;
            cursor: pointer;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            padding-left: 20px;
            text-indent: 0px;
            line-height: 17px;
          }

          &:hover label {
            
          }

          label:after {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid $yellow;
            border-radius: 100%;
            background: #fff;
            height: 15px;
            width: 15px;
            top: 0;
            left: 0;
            z-index: 5;
            transition: border .3s ease-out;
            -webkit-transition: border .3s ease-out;
            box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
          }

          &:hover label:after {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }

          label:before {
            display: block;
            position: absolute;
            content: '';
            border-radius: 50%;
            height: 5px;
            width: 5px;
            top: 5px;
            left: 5px;
            margin: auto;
            z-index: 123;
            transition: all .25s linear;
            transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -webkit-transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -webkit-transform: scale(0);
            transform: scale(0);
          }

          label.frm-radio-checked:after {
            border-color: $yellow;
          }

          label.frm-radio-checked:before{
            background: $yellow;
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          label.frm-radio-checked {
          
          }
        }
        .frm_checkbox.checkbox {
          label {
            
          }
          input {
            $checkbox-size: 13px;
             position: relative !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-sizing: content-box;
            outline: 0;
            box-shadow: none;
            cursor: pointer;
            vertical-align: sub;
            margin: 0;
            margin-right: 5px;
            &:hover {
              -webkit-transform: scale(1.05);
              transform: scale(1.05);
            }
            &:checked:hover {
              -webkit-transform: none;
              transform: none;
            }
            &:before {
              content: '';
              display: block;
              box-sizing: content-box;
              width: $checkbox-size;
              height: $checkbox-size;
              border: 1px solid $yellow;
              -webkit-transition: 0.2s border-color ease;
              transition: 0.2s border-color ease;
              background: #fff;
              border-radius: 0;
              box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
            }
            &:checked:before {
              border-color: $yellow;
              transition: 0.5s border-color ease;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              box-sizing: content-box;
              top: 50%;
              left: 50%;
              transform-origin: 50% 50%;
              width: calc(13px * 0.6);
              height: $checkbox-size;
              border-radius: 0;
              -webkit-transform: translate(-50%, -90%) scale(0) rotate(45deg);
              transform: translate(-50%, -90%) scale(0) rotate(45deg);
              background-color: transparent;
              box-shadow: 3px 3px 0px 0px $yellow;
            }
            &:checked:after {
              animation: toggleOnCheckbox 0.2s ease forwards;
            }
            @keyframes toggleOnCheckbox {
              0% {
                opacity: 0;
                transform: translate(-50%, -90%) scale(0) rotate(45deg);
              }

              70% {
                opacity: 1;
                transform: translate(-50%, -90%) scale(0.9) rotate(45deg);
              }

              100% {
                transform: translate(-50%, -90%) scale(0.8) rotate(45deg);
              }
            }
          }
        }
        select {
          height: auto;
          width: 100%;
          border-radius: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
          background-repeat: no-repeat;
          background-position: 98% center;
          background-size: 13px;
          box-shadow: 0px 3px 11px -4px rgba(0,0,0,.2);
          border: 0;
          padding: 15px;
          border-radius: 3px;
          cursor: pointer;
          letter-spacing: 1px;
          font-size: 13px;
          color: #666;
          font-family: "Raleway";
          font-weight: 500;

        }
        input[type="text"], input[type="email"], input[type="tel"] {
          height: auto;
          width: 100%;
          border-radius: 0;
          background-size: 13px;
          box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.2);
          border: 0;
          padding: 15px;
          border-radius: 3px;
          cursor: pointer;
          letter-spacing: 1px;
          font-size: 13px;
          color: #666;
          font-family: "Raleway";
          font-weight: 500;
        }
        .frm_dropzone {
          border-width: 1px;
          .frm_icon_font.frm_upload_icon {
            &:before {
              color: $yellow;
              font-size: 30px;
            }
          }
          .frm_upload_text {
            font-size: 14px;
          }
          .frm_compact_text {
            
          }
          .frm_small_text {
            font-size: 12px;
          }
          .dz-preview {
            .dz-image {
              width: 100px;
              height: 100px;
              background: $yellow;
              background: linear-gradient(to bottom, $yellow, $yellow-light);
              img[src$="document.png"] {
                height: 40px;
                filter: brightness(100);
                -webkit-filter: brightness(100);
                margin-top: 30px;
              }
            }
          }
        }
        .frm_description {
          font-style: italic !important;
        }
        .frm_opt_container {
          line-height: 1;
          @media (max-width: 767px) {
            line-height: 1.5;
          }
        }
      }
      #frm_field_78_container .frm_range_value:after, #frm_field_117_container .frm_range_value:after {
        content: "㎡";
        margin-left: 2px;
      }
      /*
      #frm_field_17_container {
        .frm_radio.radio {
          display: inline-block;
          width: auto;
          margin-right: 40px;
        }
      }
      #frm_field_18_container, #frm_field_19_container, #frm_field_20_container {
        .frm_opt_container {
          &:after {
            content: '';
            display: table;
            clear: both;
          }
        }
        .frm_checkbox.checkbox {
              display: block !important;
              width: 50%;
              float: left;
              max-width: 130px;
        }
      }
      #frm_field_20_container {
        .frm_checkbox.checkbox {
          max-width: 175px;
        }
      }
      */
      .frm_range_value {
        font-weight: 600;
        font-family: "raleway";
        color: #555;
      }
    }
  }
}

body.page-id-4002 {
  .frm_forms.with_frm_style.frm_style_formidable-style {
    padding-bottom: 50px;
    form {
      .form-group {
        .frm_submit {
          margin-top: 25px;
        }
        .form-field {
          select {
            border-top: 2px solid $yellow-light;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }
          input[type="text"], input[type="email"], input[type="tel"] {
            border-top: 2px solid $yellow-light;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }
  }
}


.stromavtaler-tabs-holder {
  .stromavtaler-tabs-container {
    .wpb_column {
      .vc_column-inner {
        .eltdf-tabs {
          ul.eltdf-tabs-nav {
            li {
              h5 {
                a {
                  outline: 0;
                  font-size: 14px;
                  padding-left: 30px;
                  padding-right: 30px;
                  color: #555;
                  &:hover {
                    color: #fff;
                  }
                  &:focus {
                    outline: 0;
                  }
                }
              }
              &.ui-state-active {
                h5 {
                  a {
                    outline: 0;
                    color: #fff;
                    &:focus {
                      outline: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .wpb_single_image {
          figure {
            width: 100%;
            .vc_single_image-wrapper {
              width: 100%;
              img {
                width: 60%;
              }
            }
          }
        }
      }
    }
    &.yellow .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-hover h5 a {
      background-color: $yellow;
    }
    &.yellow .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-active h5 a {
      background-color: $yellow;
    }
    &.green .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-hover h5 a {
      background-color: $green;
    }
    &.green .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-active h5 a {
      background-color: $green;
    }
    &.red .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-hover h5 a {
      background-color: $red;
    }
    &.red .wpb_column .vc_column-inner .eltdf-tabs ul.eltdf-tabs-nav li.ui-state-active h5 a {
      background-color: $red;
    }
  }
}



.forside-info {
  margin-top: 30px;
  .forside-info-left, .forside-info-right {
    
    .eltdf-accordion-holder {
      
      .eltdf-title-holder {
        margin: 2px 0 0;
        padding: 22px 0 22px 50px;
        background-color: #fff;
        margin: 0;
        border-bottom: 1px solid #70cbfe;
        color: #70cbfe;
        font-weight: 500;
        font-size: 14px;
        &:last-of-type {
          border-bottom: 0;
        }
      }
      .eltdf-accordion-content {
        padding: 25px;
      }
      .eltdf-accordion-content-inner {
        p {
          font-size: 13px;
        }
      }
    }
  }
  .forside-info-left {
    h5 {
      text-align: right !important;
      padding: 22px 50px 22px 0px !important;
      .eltdf-accordion-mark {
          right: 19px !important;
          left: auto !important;
      }
    }
    .eltdf-accordion-content-inner {
        p {
          font-size: 13px;
          text-align: right;
        }
      }
  }
  .forside-info-right {
    border-left: 1px solid $blue;
    h5 {
      padding: 22px 0px 22px 50px !important;
    }
  }
}

.subpage-list {
  padding-bottom: 60px;
  padding-top: 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc((100% / 3) - 20px);
      background: linear-gradient(45deg, $yellow 0%, $yellow-light 100%);
      box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.25);
      position: relative;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
      min-height: 250px;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      overflow: hidden;
      &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8), &:nth-of-type(10), &:nth-of-type(12), &:nth-of-type(14) {
        background: linear-gradient(45deg, #ddd 0%, #f0f0f0 100%);
        a {
          color: #444 !important;
        }
      }
      &:hover {
        box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.35);
        -webkit-transform: scale(1.035);
        transform: scale(1.035);
      }
      a {
        position: absolute;
        display: block;
        color: #fff;
     font-family: "montserrat";
        font-weight: 800;
        letter-spacing: 0.5px;
        font-size: 25px;
        padding: 20px;
       padding-top: 200px;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

.omtale-side {
  
  .eltdf-comment-holder {
    .eltdf-comment-holder-inner {
      .eltdf-comments-title {
        margin-bottom: 15px;
        h5 {
          
        }
      }
      .eltdf-comments ul .eltdf-comment-li {
        padding: 21px !important;
        background: #fff !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.09);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,.09);
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.09);
        .eltdf-comment {
          position: relative;
          .eltdf-comment-image {
            display: none;
          }
          .eltdf-comment-text {
            margin: 0 0 0 240px;
            padding: 0 0 0 30px;
            border-left: 1px solid #ddd;
            .eltdf-comment-info {
              position: absolute;
              top: 0;
              left: 0;
              h5.eltdf-comment-name {
                display: block;
                font-family: "Montserrat";
                font-weight: 300;
                color: #000;
                font-size: 16px;
                line-height: 1;
              }
              span.eltdf-comment-date {
                margin: 0;
                font-style: italic;
                font-size: 13px;
                color: #969696;
              }
            }
            .eltdf-text-holder {
              h4 {
                margin: 0;
                line-height: 1;
                margin-bottom: 12px;
              }
              .wpr-user-features-rating {
                position: absolute;
                left: 0;
                top: 50px;
                ul {
                  padding: 0;
                  li {
                    background-color: transparent !important;
                    .review-star {
                      float: left;
                      margin-right: 12px;
                    } 
                    span {
                      color: #666 !important;
                    }
                  }
                }
              }
              .comment-text-inner {
                p {
                  color: #333;
                  margin-bottom: 20px;
                  min-height: 54px;
                }
              }
              .wp-review-feedback {
                font-size: 13px;
                .review-btn {
                  border: 1px solid #bbb;
                  font-size: 13px;
                  background: transparent;
                  color: #969696;
                  padding: 1px 5px;
                  width: 75px;
                  text-align: center;
                  margin-left: 12px;
                  &:hover, &:active {
                    color: #555 !important;
                    border-color: #777;
                    background: transparent;
                  }
                  &.voted, &.voted:hover, &.voted:active {
                    color: #555 !important;
                    border-color: #777;
                    background: transparent; 
                  } 
                }
              }
            }
          }
        }
      }
    }
  }
  .eltdf-comment-form {
    .eltdf-comment-form-inner {
      .comment-respond {
        h5.comment-reply-title {
          margin-bottom: 15px;
        }
        .comment-form.wp-review-comment-form {
          background: #fff;
          padding: 30px;
          -webkit-box-shadow: $omtale-shadow;
          -moz-box-shadow: $omtale-shadow;
          box-shadow: $omtale-shadow;
          .logged-in-as {
            a {
              
            }
          }
          .wp-review-comment-title-field {
            .wp-review-comment-title-field-msg {
              font-family: "raleway";
              color: #333;
              font-weight: 800;
              font-size: 15px;
              line-height: 1;
              margin-bottom: 10px;
            }
            .wp-review-comment-title-field-input-wrapper {
              input.wp-review-comment-title-field-input {
                padding-left: 20px !important;
                padding-right: 20px !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                border: 0 !important;
                margin-bottom: 10px !important;
                background: #f9f9f9 !important;
                border-top: 2px solid #ddd !important;
                height: 48px !important;
                &:hover, &:focus {
                  border-top-color: $blue !important;
                }
              }
            }
          }
          .wp-review-comment-field.wp-review-comment-rating-star-wrapper {
            margin-bottom: 30px !important;
            .wp-review-comment-field-inner {
              h5.user-review-title {
                font-family: "raleway";
                color: #333;
                font-weight: 800;
                font-size: 15px;
                line-height: 1;
                margin-bottom: 10px;
              }
              .features-rating-list {
                border-top: 2px solid #ddd;
                &:hover, &:focus {
                  border-top-color: $blue;
                }
                li {
                  padding-left: 20px;
                  padding-right: 20px;
                  background: #f9f9f9;
                  border: 0;
                  &:nth-of-type(even) {
                    background: #fff;
                  }
                  >span {
                    color: #333;
                  }
                  .wp-review-comment-rating.wp-review-user-feature-rating-star {
                    .wp-review-rating-input.review-star {
                      .review-result-wrapper {
                        >span {
                          >i {
                            opacity: 1;
                            font-size: 18px !important;
                          }
                        }
                        .review-result {
                          i {
                            font-size: 18px !important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          textarea, input#author, input#email {
            background: #f9f9f9 !important;
            border: 0 !important;
            border-top: 2px solid #ddd !important;
            padding: 12px 20px !important;
            font-size: 16px !important;
            &:hover, &:focus {
              border-top-color: $blue !important;
            }
          }
          input#author, input#email {
            padding: 24px 20px !important;
            margin-top: 6px;
          }
          .form-submit {
            input.submit {
              background: $blue !important;
              color: #fff !important;
              border: 0 !important;
              height: auto !important;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

#rangering, .omtale-rangering {
  margin-bottom: 30px !important;
    .review-wrapper.wp-review-shell-template {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      border: 0;
      background: #fff;
      background-color: #fff;
      -webkit-box-shadow: $omtale-shadow;
      -moz-box-shadow: $omtale-shadow;
      box-shadow: $omtale-shadow;
      font-family: "Raleway";

      .review-total-wrapper {
        border-bottom: 1px solid #e6e6e6;
        background: #fff;
        background-color: #fff;
        padding: 30px 0;
        .review-total-box {
          h5 {
            margin-top: 0;
            letter-spacing: 1px;
            display: block;
            font-family: "Raleway";
            font-weight: 800;
            color: #333;
            font-size: 18px;
          }
          div {
            font-family: "Montserrat";
            font-weight: 200;
            font-size: 50px;
            letter-spacing: 1px;
            color: $yellow;
            line-height: 1;
            padding: 6px 0 10px 0;
            small {
              color: #666;
              letter-spacing: 0.5px;
              padding-top: 5px;
            }
            .wp-review-user-rating-counter {

            }
          }
        }
        .review-star.review-total {
          .review-result-wrapper {
            color: #e6e6e6 !important;
          }
        }
      }
      .review-list {
        li {
          color: #333;
          &:nth-of-type(even) {
            background-color: #f9f9f9;
          }
          .review-star {
            .review-result-wrapper {
              color: #ddd !important;
            }
          }
        }
      }
    }
    .omtale-info-logo, #omtale-info-logo {
      >.vc_column-inner {
        >.wpb_wrapper {
          background: #fff;
      padding: 30px;
      height: 100%;
          -webkit-box-shadow: $omtale-shadow;
          -moz-box-shadow: $omtale-shadow;
          box-shadow: $omtale-shadow;
          .wpb_text_column  {
            padding-top: 10px;
            .wpb_wrapper {
              p {
                color: #666 !important;
                line-height: 1.7 !important;
                font-size: 15px !important;
              }
            }
          }
        }
      }
    }
  }

.omtale-avtale, #avtale {
  margin-bottom: 0;
  margin-top: 0;
  >.wpb_column {
    >.vc_column-inner {
      >.wpb_wrapper {
        padding: 40px 30px 20px 30px;
        background: #fff;
        -webkit-box-shadow: $omtale-shadow;
        -moz-box-shadow: $omtale-shadow;
        box-shadow: $omtale-shadow;
        .eltdf-section-title-holder {
          .eltdf-section-subtitle {
            font-size: 24px !important;
            font-weight: 600 !important;
            margin: 0 auto !important;
            padding: 0 !important;
            margin-bottom: 5px !important;
            font-style: italic !important;
            color: #333 !important;
          }
          .eltdf-st-title {
            padding: 0 !important;
            margin: 0 auto !important;
            font-size: 40px !important;
            color: #333 !important;
          }
          .eltdf-title-separator {
            background-color: #333 !important;
          }
        }
        .vc_row {
          .wpb_column {
            &.omtale-avtale-list-holder, &#omtale-avtale-list-holder {
              .vc_column-inner .wpb_wrapper {
                border: 1px solid #e6e6e6;
              }
            }
            .vc_column-inner {
              .wpb_wrapper {
                
                .eltdf-icon-list-holder {
                  margin: 0;
                  border-top: 0;
                  padding: 10px 0px;
                  color: #333;
                  .eltdf-il-text {
                    font-size: 15px;
                    .bold {
                      font-weight: 600;
                    }
                  }
                  
                  &:nth-of-type(even) {
                    background-color: #f9f9f9;
                  }
                }
                .wpb_text_column  {
                  color: #666 !important;
                  text-align: left !important;
                  font-size: 14px !important;
                  font-weight: 400 !important;
                  b, bold, strong {
                    font-weight: 700 !important;
                  }
                  p, h1, h2, h3, h4, h5, h6 {
                  color: #666 !important;
                  text-align: left !important;
                  font-size: 14px !important;
                  font-weight: 400 !important;
                    &:first-of-type {
                      margin-top: 0;
                    }
                    &b, &bold, &strong {
                      font-weight: 700 !important;
                    }
                    b, bold, strong {
                      font-weight: 700 !important;
                    }
                  }
                }
              }
            }
          }
        }
        .eltdf-call-to-action-holder {
          .eltdf-cta-text-holder {
            display: none !important;
          }
          .eltdf-cta-button-holder {
            margin: 40px auto 20px auto !important;
            .eltdf-cta-button {
              .eltdf-btn {
                background: $blue !important;
                background-color: $blue !important;
                color: #fff !important;
                border: 0 !important;
                &:hover, &:active {
                background: $blue !important;
                background-color: $blue !important;
                color: #fff !important;
                border: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.omtale-tillegg, #omtale-tillegg {
  margin-top: 30px;
  >.wpb_column, .omtale-tillegg-tall {
    >.vc_column-inner {
      >.wpb_wrapper {
        background: #fff;
        -webkit-box-shadow: $omtale-shadow;
        -moz-box-shadow: $omtale-shadow;
        box-shadow: $omtale-shadow;
        padding: 20px 30px;
        h2 {
          font-family: "Raleway" !important;
          color: #333;
          font-weight: 800 !important;
          font-size: 15px !important;
          line-height: 1;
          margin-bottom: 10px;
          margin-top: 0;
        }
        .wpb_text_column  {
          .wpb_wrapper {
            p {
              
            }
          }
        }
        .vc_row {
          .wpb_column {
            .vc_column-inner {
              h2 {
                
              }
              .eltdf-icon-list-holder {
                .eltdf-il-icon-holder {
                  display: none;
                  .eltdf-icon-font-awesome {
                    
                  }
                }
                p {
                  width: 100%;
                  padding: 0;
                }
              }
              .vc_pie_chart {
                .wpb_wrapper {
                  .vc_pie_wrapper {
                    $pie-width: 80px;
                    width: $pie-width !important;
                    height: $pie-width !important;
                    .vc_pie_chart_back {
                      border-color: #ddd !important;
                      width: $pie-width !important;
                      height: $pie-width !important;
                    }
                    .vc_pie_chart_value {
                      line-height: $pie-width !important;
                      width: $pie-width !important;
                      height: $pie-width !important;
                      font-size: 18px;
                      color: #666;
                      font-family: "montserrat";
                      font-weight: 400;
                    }
                    canvas {
                      width: $pie-width !important;
                      height: $pie-width !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .omtale-tillegg-tall {
    >.vc_column-inner {
      >.wpb_wrapper {
        position: relative;
        padding: 0 30px;
        >.wpb_text_column {
          position: absolute;
          top: 100%;
          right: 0;
          font-size: 13px;
          .wpb_wrapper {
            p {
              
            }
          }
        }
        >.vc_row {
          >.wpb_column {
            padding-top: 20px;
            padding-bottom: 20px;
            &:last-of-type {
              border-left: 1px solid #e6e6e6;
            }
          }
        }
      }
    }
  }
}

#commentform.wp-review-comment-form textarea, form.wp-review-comment-form textarea {
  max-height: 100px;
    resize: none;
    color: #333 !important;
}
#commentform.wp-review-comment-form input, #commentform.wp-review-comment-form select, form.wp-review-comment-form input {
  color: #333 !important;
}
#commentform.wp-review-comment-form input.submit, form.wp-review-comment-form input.submit {
  color: #fff !important;
}
div.omtale-bottom-sticky {
  position: fixed;
bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 123412341234 !important;
  padding: 0 !important;
  margin: 0 auto !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    background-color: #fafafa !important;
  
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.12);
    .wpb_column {
      padding: 0 !important;
      margin: 0 !important;
      .vc_column-inner {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        .wpb_wrapper {
          padding-bottom: 0 !important;
          padding-top: 0 !important;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          .eltdf-call-to-action-holder {
            .eltdf-cta-text-holder {
              .eltdf-cta-text {
                font-size: 13px !important;
              }
            }
            .eltdf-cta-button-holder {
              padding: 0 !important;
              margin: 0 !important;
              .eltdf-cta-button {
                .eltdf-btn {
                  white-space: nowrap;
                  padding: 8px 20px !important;
                  background-color: $yellow !important;
                  color: #fff !important;
                  font-size: 12px !important;
                  border: 0 !important;
                  &:hover, &:active {
                    background-color: $blue !important;
                    color: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  @media (max-width: 768px) {
      display: none !important;
  }
  @media (max-device-width: 1024px) and (orientation: landscape) {
    display: none !important;
  }
}

.review-wrapper .reviewed-item {
  display: none !important;
}